<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IRuleTreeNodeDao">

    <resultMap id="DataMap" type="cn.bugstack.infrastructure.dao.po.RuleTreeNode">
        <id column="id" property="id"/>
        <id column="tree_id" property="treeId"/>
        <id column="rule_key" property="ruleKey"/>
        <id column="rule_desc" property="ruleDesc"/>
        <id column="rule_value" property="ruleValue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

<!--    RuleTreeNode queryRuleTreeNodeByTreeId(String treeId);-->
    <select id="queryRuleTreeNodeByTreeId" parameterType="java.lang.String" resultMap="DataMap">
        SELECT tree_id, rule_key, rule_desc, rule_value
        FROM rule_tree_node
        WHERE tree_id = #{treeId}
    </select>
</mapper>
